@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

/** | Main **/
body {
  background: hsl(225, 100%, 94%);

  width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 16px;
}


/** Card is:
  -CARD:
      -IMAGE,
      -CARD-BODY:
        -CARD-CONTENT:
          -HEADER,
          -DESCRIPTION
        -CARD-SUBSCRIPTION:
          -ICON,
          -PLAN:
            -PLAN-TYPE,
            -PLAN-PRICE
          -CHANGE
        -CARD-PAYMENT-BTN,
        -CARD-CANCEL-BTN
**/
.card-element {
  margin: 0.6rem 7%;
}

/** | Card **/
.card {
  background: hsl(225, 100%, 98%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 25rem;
  margin: 3rem auto;
  border-radius: 2rem;

  font-family: 'Outfit', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

  /** || Image **/
  .card-img {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }
    .card-img img {
      width: 100%;
      border-radius: 2rem 2rem 0 0;
    }

  /** || Body **/
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 2rem 1.3rem;
  }

    /** || Content **/
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      .card-content-header {
        font-weight: 900;
      }
      .card-content-description {
        padding: 0;
        margin: 0;
        text-align: center;
      }

    /** || Subscription **/
    .card-subscription {
      background:   hsl(230, 7%, 83%);
      width: 100%;
      border-radius: .5rem;

      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
      .card-subscription-icon {

      }
      /** ||| Subscription plan **/
      .card-subscription-plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        line-height: 0;
      }
        .card-subscription-plan-header {
          font-weight: 700;
          padding: 0;
          margin: 1.5em 0 0 0;
        }
        .card-subscription-plan-description {
          padding: 0;
          margin: 1.2rem 0 1.5rem 0;
        }
      .card-subscription-change {

      }

    /** || Payment **/
    .card-payment {
      display: block;
      width: 100%;
      height: 3rem;
      background: hsl(245, 75%, 52%);
      border-radius: .5rem;

      color: hsl(225, 100%, 98%);
      font-weight: 900;
    }
    /** || Cancel **/
    .card-cancel {
      display: block;
      width: 100%;
      height: 1rem;
      background: hsl(225, 100%, 98%);
      border-style: none;

      color: hsl(224, 23%, 55%);
      font-weight: 900;
    }


/** | Footer **/
.attribution {
  font-size: 11px;
  text-align: center;
}
  .attribution a {
      color: hsl(228, 45%, 44%); 
  }